{% extends 'houtai/base2.html' %}
{% block body %}
<body>
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>申请人姓名</th>
      <th>申请人手机号</th>
      <th>申请人身份证</th>
        <th>申请人联系地址</th>
        <th>申请日期</th>
        <th>状态</th>
    </tr>
  </thead>
  <tbody>
    {% if info %}
        {% for i in info %}
            <tr>
                <td>{{ i.username }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.card_num }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.check_status }}</td>
            </tr>
        {% endfor %}
  {% endif %}
  </tbody>
</table>
</body>
{% endblock %}