<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <script src="{{ url_for('static',filename='js/jquery-1.8.0.min.js') }}" type="text/javascript" ></script>
        <script src="{{ url_for('static',filename='js/jquery.ffform.js') }}" type="text/javascript"></script>
        <link href="{{ url_for('static',filename='css/demo.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register.css') }}"/>
    </head>
{% block body %}
{% endblock %}
{% for message in get_flashed_messages() %}
            <script>alert('{{ message }}');</script>
{% endfor %}
</html>