<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
              <meta charset="utf-8">
              <title>layui</title>
              <meta name="renderer" content="webkit">
              <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
              <link rel="stylesheet" href="{{ url_for('static',filename='css/layui.css') }}"  media="all">
              <script src="{{ url_for('static',filename='js/layui.js') }}" charset="utf-8"></script>
              <script src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
    </head>
{% block body %}
{% endblock %}
{% for message in get_flashed_messages() %}
            <script>alert('{{ message }}');</script>
{% endfor %}
</html>