<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>专利运营管理员后台</title>
<meta name="viewport" content="width=device-width">
<link href="{{ url_for('static',filename='css/base2.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='css/login.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="login">
<form action="{{ url_for('admin.admin_login') }}" method="post" id="form">
	<div class="logo"></div>
    <div class="login_form">
    	<div class="user">
        	<input class="text_value" value="" name="username" type="text" id="username">
            <input class="text_value" value="" name="password" type="password" id="password">
        </div>
        <button class="button" id="submit" type="submit">登录</button>
    </div>
    
    <div id="tip"></div>
    <div class="foot">
    版权所有
    </form>
</div>
<script>var basedir='public/ui/';</script>
<script src="{{ url_for('static',filename='ui/do.js') }}"></script>
<script src="{{ url_for('static',filename='ui/config.js') }}"></script>
<script>
/*
Do.ready('form', function() {
	$("#form").Validform({
			ajaxPost:true,
			postonce:true,
			tiptype:function(msg,o,cssctl){
				if(!o.obj.is("form")){
					var objtip=o.obj.siblings(".Validform_checktip");
					cssctl(objtip,o.type);
					objtip.text(msg);
				}else{
					var objtip=o.obj.find("#tip");
					cssctl(objtip,o.type);
					if(o.type==2){
						window.location.href='';
					}else{
						objtip.text(msg);
					}
				}
			}
	});
});*/

</script>
</body>
</html>
