{% extends 'admin/base2.html' %}
{% block body %}
    <body>
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
        <th>申请人姓名</th>
        <th>申请人联系方式</th>
        <th>申请日期</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% if userinfo %}
        {% for info in userinfo %}
            <tr>
                <td>{{ info.username }}</td>
                <td>{{ info.phone }}</td>
                <td>{{ info.date }}</td>
                <td>
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" index="{{ info.id }}" onclick="javascript:get_info(this);">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit" index="{{ info.id }}" onclick="javascript:show(this);">操作</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
  </tbody>
</table>
    </body>
    <script>
    function show(th){
        layer.open({
              content: '操作'
              ,btn: ['通过','不通过']
              ,yes: function(index, layero){
                //按钮【通过】的回调
                $.ajax({
                    url:"{{ url_for('admin.peixun_apply_manager_action') }}",
                    data:"id="+$(th).attr('index')+"&action=checked",
                    dataType:"text",
                    type:"post",
                    success:function(result){
                        alert('提交成功');
                    }
                });
              }
              ,btn2: function(index, layero){
                $.ajax({
                    url:"{{ url_for('admin.peixun_apply_manager_action') }}",
                    data:"id="+$(th).attr('index')+"&action=reject",
                    dataType:"text",
                    type:"post",
                    success:function(result){
                        alert('提交成功');
                    }
                });
              }
            });
    }
    function get_info(th) {
            $.ajax({
                url: "{{ url_for('admin.peixun_apply_manager_get') }}",
                data: "id="+$(th).attr('index'),
                dataType: 'text',
                type: 'post',
                success: function (result){
                    result = jQuery.parseJSON(result);
                    username = result['username'];
                    phone = result['phone'];
                    card_num = result['card_num'];
                    address = result['address'];
                    date = result['date'];
                    reason = result['reason'];
                    content = result['content'];
                    check_status = result['check_status'];
                     layui.use('layer', function() {
                         layer = layui.layer;
                         layer.open({
                        type: 1
                        ,
                        title: false //不显示标题栏
                        ,
                        closeBtn: false
                        ,
                        area: '300px;'
                        ,
                        shade: 0.8
                        ,
                        id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,
                        btn: ['Close']
                        ,
                        btnAlign: 'c'
                        ,
                        moveType: 1 //拖拽模式，0或者1
                        ,
                        content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">申请人姓名：' +
                        username+'<br>手机：' +phone+
                        '<br>证件号码：' +card_num+
                        '<br>地址：' +address+
                            '<br>日期：' +date+
                            '<br>申请理由：' +reason+
                            '<br>培训内容：' +content+
                            '<br>状态：' +check_status+
                        '</div>'
                        ,
                        success: function (layero) {

                        }
                    });
                     });
                }});
    }



    </script>
{% endblock %}